<p-progressSpinner 
    *ngIf="false"
    styleClass="w-4rem h-4rem" 
    strokeWidth="8" 
    fill="var(--surface-ground)" 
    animationDuration=".5s" />

<div>
    <h3>Transaction Details</h3>
    <div>
        <p-table [value]="transactions" 
        [paginator]="true"
        [rows]="5"
        [lazy]="true"
        (onLazyLoad) ="loadTransactions($event)"
        [totalRecords]="totalRecords"
        [loading]="loading">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="id">ID</th>
                <th pSortableColumn="date">Date</th>
                <th pSortableColumn="time">Time</th>
                <th pSortableColumn="quantity">Quantity</th>
                <th pSortableColumn="storeId">StoreId</th>
                <th pSortableColumn="storeLocation">StoreLocation</th>
                <th pSortableColumn="productId">ProductId</th>
                <th pSortableColumn="unitPrice">UnitPrice</th>
                <th pSortableColumn="productCategory">ProductCategory</th>
                <th pSortableColumn="productType">ProductType</th>
                <th pSortableColumn="productDetail">ProductDetail</th>
                <th pSortableColumn="month">Month</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-transaction>
              <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.time }}</td>
                <td>{{ transaction.quantity }}</td>
                <td>{{ transaction.storeId }}</td>
                <td>{{ transaction.storeLocation }}</td>
                <td>{{ transaction.productId }}</td>
                <td>{{ transaction.unitPrice }}</td>
                <td>{{ transaction.productCategory }}</td>
                <td>{{ transaction.productType }}</td>
                <td>{{ transaction.productDetail }}</td>
                <td>{{ transaction.month }}</td>
              </tr>
            </ng-template>
        </p-table>
    </div>
</div>
